

   
                
    <ul id="nav">
        <li id="nav-1">@Html.ActionLink("Towar", "Index", "Towar")</a></li>
        <li id="nav-2">@Html.ActionLink("Gatunek", "Index", "Gatunek")</a></li>
        <li id="nav-3">@Html.ActionLink("Home","Index", "Home")</a></li>

        <li id="nav-4">@Html.ActionLink("Sklep","Index","Sklep")</a></li>
        <li id="nav-5">@Html.ActionLink("Zamówienie", "Index", "Zamówienie")</a></li>
        <li id="nav-5">@Html.ActionLink("Admin", "Index", "Admin")</a></li>


    </ul>
