@model SklepMuzyczny.gatunek

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>gatunek</legend>
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.idGatunku)
                </div>
            </div>
            <div class="col-md-2">
                <div class="display-field">
                    @Html.DisplayFor(model => model.idGatunku)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
            </div>
            <div class="col-md-2">
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Opis)
                </div>
                </div>
            <div class="col=md-2">
                <div class="display-field">
                    @Html.DisplayFor(model => model.Opis)
                </div>
                </div>
            </div>
        </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
